
{% extends "layouts/default.html" %}

{% block title %} Dashboard {% endblock title %}

{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

    <div class="panel-header bg-primary-gradient">
      <div class="page-inner py-5">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
          <div>
            <h2 class="text-white pb-2 fw-bold">MCMC model</h2>
            <h5 class="text-white op-7 mb-2">Ground Ops dashboard</h5>
          </div>
          <div class="ml-md-auto py-2 py-md-0">
            <a href="#" class="btn btn-white btn-border btn-round mr-2">Manage</a>
            <a href="#" class="btn btn-secondary btn-round">New prediction</a>
          </div>
        </div>
      </div>
    </div>
    <div class="page-inner mt--5">
      <div class="row mt--2">
       

      </div>
      <div class="row">
        <div class="col-md-2">


             <div class="card">
            <div class="card-header">
              <div class="card-head-row">
                <div class="card-title">High Level Assumptions</div>
              
              </div>
            </div>
         
            <div class="card-body">
               <div data-role="main" class="ui-content">
                <form method="post" action="/action_page_post.php">
                  <fieldset data-role="collapsible">
                    <legend>Assumptions</legend>
                      <label for="name">Start date</label>
                      <input type="text" name="text" id="start_date">
                      <p>Favorite Color:</p>
                    
                      <button id="calculate" type="submit" class="btn btn-primary">Apply</button>                  
                  </fieldset>
                </form>
              </div>
           
            </div>
          </div>
        </div>

         <div class="col-md-10"> 
          <div class="card">
            <div class="card-header">
              <div class="card-head-row card-tools-still-right">
                <h3 class="card-title">Forecasts</h3>
              </div>
              
              <p class="card-category"><h3>Headcount</h3></p>
               </div>
            <div class="card-body">
              <div class="row">
                
                 <div style="overflow-x:auto;" id = "headcount-content">
                           
                                 {{ table_headcount | safe}}                
                </div>
              </div><p>
              
              <p class="card-category"><h3>Hours</h3></p>
              <div class="row">
                
                 <div style="overflow-x:auto;" id = "headcount-content">
                           
                                 {{ table_hours | safe}}
                </div>
              </div><p>

               <p class="card-category"><h3>Rates</h3></p>
              <div class="row">
                
                 <div style="overflow-x:auto;" id = "headcount-content">
                           
                                 {{ table_rates | safe}}
                </div>
              </div><p>

               <p class="card-category"><h3>Wages</h3></p>
              <div class="row">
                
                 <div style="overflow-x:auto;" id = "headcount-content">
                           
                                 {{ table_wages | safe}}
                </div>
              </div><p>

               <p class="card-category"><h3>Adjustments</h3></p>
              <div class="row">
                
                 <div style="overflow-x:auto;" id = "headcount-content">
                           
                                 {{ table_adjustments | safe}}
                </div>
              </div><p>



            </div>
               
             
            </div>
          </div>
        </div>
       
        </div>




      <div class="row row-card-no-pd">
      
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-header">
              <div class="card-head-row">
                <div class="card-title">Model predictions</div>
              
              </div>
            </div>
         
            <div class="card-body">
              <div class="chart-container" style="min-height: 375px">
                 {{ div2 | safe }}
                 {{ script2 | safe }}
              </div>
              <div id="myChartLegend"></div>
            </div>
          </div>
          
          
     
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}

{% block javascripts %}

<script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.0.1.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.0.1.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.0.1.min.js"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


	<script src="/static/assets/js/demo.js"></script>

	



<script>
      $(document).ready(function(){
        $('#calculate').on('click', function(e){
          // prevent page being reset, we are going to update only
          // one part of the page.
          e.preventDefault()
          $.ajax({
            url:'./get_table',
            type:'post',
            data:{'start_date':$("#start_date").val()
                  },
            success : function(data){
              // server returns rendered "update_content.html"
              // which is just pure html, use this to replace the existing
              // html within the "plot content" div
              $('#headcount-content').html(data)
            }
          })
        });
      });
    </script>


{% endblock javascripts %}
